.react-icons{
    align-items: center;
    color: black;
}
.navbar{
    background-color: white;
    height: 55px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0.2em 0.2em 1em rgb(133, 133, 133);
}
.navbar img{
    display: flex;
    align-items: center;
    width: 9rem;
    margin-left: 20px;
}
.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}
.nav-menu{
    background-color: white;
    width: 220px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    box-shadow: 0.2em 0.2em 1em rgb(133, 133, 133);
}
.nav-menu.active{
    left: 0;
    transition: 350ms;
}

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover{
    background-color: #d71920;
    color: white;
}

.nav-menu-items{
    width: 100%;
}

.navbar-toggle{
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span{
    margin-left: 16px;
}
